#foot {
    background-color: black;
}

#header {
    color: red;
}
.row {
    text-align: center;
    font-family: 'Press Start 2P',serif;
    font-size: 30px;
}
#logo {
    font-size: 50px;
}
p {
    font-family: 'Press Start 2P',serif;
    color: red;
    font-size: 30px;
}
h1 {
    text-align: center;
    font-size: 75px;
    font-family: 'Rubik Glitch', serif;
    color: white
}

nav {
    background-color:black;
    font-family: 'Rubik Glitch', serif;
}
img {
    height: 100%;
    width: 100%;
    object-fit:cover;
}

body {
    background-color: black;
}
